# ESP-IDF build outputs
firmware/build/
firmware/sdkconfig
firmware/sdkconfig.old
firmware/managed_components/

# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/
