CONFIG_VSENSE_NODE_ID="rx_02"
CONFIG_VSENSE_NODE_ROLE_RX=y
# CONFIG_VSENSE_TX_MAC_FILTER_ENABLED is not set
CONFIG_VSENSE_TX_MAC="28:84:85:46:49:10"
CONFIG_VSENSE_COLLECTOR_IP="192.168.128.167"
CONFIG_VSENSE_MQTT_BROKER_URI="mqtt://192.168.128.167"
