CONFIG_VSENSE_NODE_ID="rx_01"
CONFIG_VSENSE_NODE_ROLE_RX=y
CONFIG_VSENSE_WIFI_CHANNEL=1
# CONFIG_VSENSE_WIFI_BSSID_LOCK_ENABLED is not set
CONFIG_VSENSE_TX_MAC_FILTER_ENABLED=y
CONFIG_VSENSE_TX_MAC="84:fc:e6:5e:50:24"
CONFIG_VSENSE_CSI_LENGTH_FILTER_ENABLED=y
CONFIG_VSENSE_CSI_EXPECTED_LEN=256
CONFIG_VSENSE_COLLECTOR_IP="192.168.128.167"
CONFIG_VSENSE_MQTT_BROKER_URI="mqtt://192.168.128.167"
