CONFIG_VSENSE_NODE_ID="ld2450_01"
CONFIG_VSENSE_NODE_ROLE_LD2450=y
CONFIG_VSENSE_WIFI_CHANNEL=1
# CONFIG_VSENSE_WIFI_BSSID_LOCK_ENABLED is not set
CONFIG_VSENSE_MQTT_BROKER_URI="mqtt://192.168.128.167"
CONFIG_VSENSE_LD2450_UART_PORT=2
CONFIG_VSENSE_LD2450_UART_BAUD=256000
# CONFIG_VSENSE_LD2450_UART_AUTO_BAUD is not set
CONFIG_VSENSE_LD2450_UART_BAUD_SCAN_INTERVAL_MS=1500
CONFIG_VSENSE_LD2450_UART_RX_GPIO=18
CONFIG_VSENSE_LD2450_UART_TX_GPIO=17
CONFIG_VSENSE_LD2450_UART_RX_BUFFER_SIZE=2048
CONFIG_VSENSE_LD2450_UART_EVENT_QUEUE_SIZE=20
CONFIG_VSENSE_LD2450_FRAME_QUEUE_SIZE=16
CONFIG_VSENSE_LD2450_UART_READ_CHUNK_SIZE=128
CONFIG_VSENSE_LD2450_TASK_STACK_SIZE=4096
CONFIG_VSENSE_LD2450_TASK_PRIORITY=5
CONFIG_VSENSE_LD2450_GROUND_TRUTH_TOPIC="vsense/gt/ld2450_01"
